html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5vw;
  height: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}
